<div class="container">

  <div class="header">
    <div class="user-info">
      <img [src]="avatarUrl" alt="User Avatar" class="avatar">
      <h2>Welcome, {{ username }}!</h2>
      <h2>{{ headline }}</h2>

      <div class="edit-headline">
        <input [(ngModel)]="newHeadline" placeholder="Update headline...">
        <button (click)="updateHeadline()">Update</button>
      </div>
    </div>

    <div class="search-bar">
      <input [(ngModel)]="searchKeyword" (keyup)="searchPost()" placeholder="Search...">
    </div>
  </div>

  <div class="main-content">
    <div class="new-post">
      <h3>Create a New Post</h3>
      <input [(ngModel)]="newPostTitle" placeholder="Post Title">
      <textarea [(ngModel)]="newPostContent" row="5" placeholder="Type your post..."></textarea>

      <input type="file" #inputImage (change)="uploadImage($event)" style="display: none;">
      <button (click)="inputImage.click()">Upload Image</button>
      
      <button (click)="submitPost()">Post</button>
      <button (click)="clearPost()">Cancel</button>
    </div>

    <ng-container *ngIf="!newUser">
      <div *ngFor="let post of filterPost" class="post-list">
        <app-post [post]="post"></app-post>
      </div>
    </ng-container>
  </div>

  <aside class="sidebar">
    <input [(ngModel)]="newFollowerName" placeholder="User">
    <button (click)="addFollower()">Follow</button>
    <ul>
      <ng-container *ngIf="!newUser">
        <li *ngFor="let user of followedUsers; let i = index">
          <img [src]="user.avatar">
          <h4>{{ user.username }}</h4>
          <p>{{ user.headline }}</p>
          <button (click)="unfollowUser(i)">Unfollow</button>
        </li>
      </ng-container>
    </ul>
  </aside>

  <div class="buttons">
    <div class="auth-button">
      <button routerLink="/auth">Logout</button>
    </div>

    <div class="profile-button">
      <button (click)="viewProfile()">Profile</button>
    </div>
  </div>

</div>
