.auth-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    margin-left: 10px; /* Space between the buttons */
  }

  .profile-button {
    position: absolute;
    bottom: 80px;
    right: 20px;
    margin-left: 10px; /* Space between the buttons */
  }

  .post {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .post h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }