<div class="user-info">
  <img [src]="avatarUrl" alt="User Avatar" class="avatar">
  <h2>Welcome, {{ username }} !</h2>
  <h2>{{ headline }}</h2>
</div>
  
<div class="edit-headline">
  <input [(ngModel)]="newHeadline" placeholder="Update headline...">
  <button (click)="updateHeadline()">Update</button>
</div>

<div class="search-bar">
  <input [(ngModel)] = "searchKeyword" (keyup)="searchPost()" placeholder="Search...">
</div>

<div class="new-post">
  <input [(ngModel)]="newPostTitle" placeholder="Post Title">
  <textarea [(ngModel)]="newPostContent" row="5" placeholder="Type your post..."></textarea>

  <input type="file" #inputImage (change)="uploadImage($event)" style="display: none;">
  <button (click)="inputImage.click()">Upload Image</button>
  
  <button (click)="submitPost()">Post</button>
  <button (click)="clearPost()">Cancel</button>
</div>


<div class="auth-button">
  <button routerLink="/auth">Go to Landing Page</button>
</div>

<div class="profile-button">
  <button (click)="viewProfile()">Go to Profile Page</button>
</div>


<div *ngFor="let post of filterPost">
  <app-post [post]="post"></app-post>
</div>