<div class="center-container">
<div class="profile">
  <div class="profile-container">
    <div class="profile-info">
        <div class="profile-avatar">
            <img [src]="avatarUrl" alt="User Avatar" class="avatar">
            <input type="file" #inputImage (change)="uploadAvatar($event)" style="display: none;">   
        </div>
        <div>
          <button class="add-photo-button" (click)="inputImage.click()">Add Photo</button>  
        </div>
        <h2>Profile Information</h2>
        <div>
            <label>Username: </label>
            <span>{{ username }}</span>
        </div>
        <div>
            <label>Email: </label>
            <span>{{ email }}</span>
        </div>
        <div>
            <label>Zipcode: </label>
            <span>{{ zipcode }}</span>
        </div>
        <div>
            <label>Phone: </label>
            <span>{{ phone }}</span>
        </div>
        <div>
            <label>Password: </label>
            <span>***********</span>
        </div>
    </div>
  </div>

    <form [formGroup]="profileForm">

      <div class="form-group">
        <label for="username">Username:</label><br>
        <input id="username" type="text" formControlName="username" placeholder="Username">
      </div>
    
      <div class="form-group">
        <label for="email">Email:</label><br>
        <input id="email" type="email" formControlName="email" placeholder="Email">
        <div *ngIf="profileForm.get('email')?.invalid && profileForm.get('email')?.touched" class="error-message">
          Please enter a valid email.
        </div>
      </div>
    
      <div class="form-group">
        <label for="zipcode">Zipcode:</label><br>
        <input id="zipcode" type="text" formControlName="zipcode" placeholder="Zipcode">
        <div *ngIf="profileForm.get('zipcode')?.invalid && profileForm.get('zipcode')?.touched" class="error-message">
          Zipcode must be 5 digits.
        </div>
      </div>
    
      <div class="form-group">
        <label for="phone">Phone:</label><br>
        <input id="phone" type="text" formControlName="phone" placeholder="Phone">
        <div *ngIf="profileForm.get('phone')?.invalid && profileForm.get('phone')?.touched" class="error-message">
          Phone number must be in the format XXX-XXX-XXXX.
        </div>
      </div>
    
      <div class="form-group">
        <label for="password">Password:</label><br>
        <input id="password" type="password" formControlName="password" placeholder="Password"><br><br>
      </div>
    
      <button (click)="updateProfile()">Update</button>
    
    </form>

</div>
</div>
<div class="navigate-main">
  <button routerLink="/main">Main Page</button>
</div>